#root {
  max-width: 1280px;
  padding: 0 auto;
  text-align: center;
  box-sizing: border-box;
  float: left;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1vh;
}

button{
  outline: none;
}

button:hover{
  outline: none;
}

.menu{
  width: 100%;
  text-align: center;
  height: 5%;
  font-size: 2rem;
  border: 1px black solid;
  position: fixed;
  background: #ffb871;
  display: flex;
  left: 0;
  top: 0;
}

.menu_space{
  flex: 5;
}

.main{
  font-size: 1vh;
  padding: 1.5rem;
  box-sizing: border-box;
  top: 5%;
  width: 100vw;
  height: 90vh;
  position: relative;
  float: left;
  display: flex;
}

.modal{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  box-sizing: border-box;
  position: fixed;
  width: 100vw;
  height: 95%;
  display: flex;
  font-size: 2rem;
  border: solid 1px black;
  background: #f9f9f9;
  top: 5%;
  left : 0;
  z-index: 10000;
  padding: 1.5rem;
}

.button1{
  margin: 0px;
  padding: 0px;
  flex:1;
  background: #ffb871;
}
/*달력*/

.calendar{
  font-size: 2rem;
  flex:5;
  height: 80vh;
  width: 76.5vw;
  border: rgb(60, 138, 255) solid 2px;
  display: flex;
  flex-direction: column;
  border-radius: 4%;
}

.nav {
  flex-direction: row;
  display: flex;
  flex: 1;
  padding-top: 3vh;
  padding-bottom: 3vh;
  align-items: center;
  justify-content: space-between;
  padding-left: 10%;
  padding-right: 10%;
}

.month_nav {
  border: none;
  outline: none;
  padding: 0px;
  height: calc(100%/8);
  width: 40px;
  font-size: 30px;
  background-color: #f9f9f9;
}

.month{
  font-size: 3rem;
  text-align: center center;
}

.weeks{
  display: flex;
  list-style: none;
  flex-wrap: wrap; /*이래 하면 요소가 아래로 넘어감*/
  height: calc(100% / 8);
}

.weeks li{
  width: calc(100% / 7);
  position: relative;
}


.days{
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  height: calc(100% * 5 / 7);
}

.days li{
  width: calc(100% / 7);
  position: relative;
}

.login_menu{
  flex:1;
  font-size: 1.5rem;
}


.ad{
  font-size: 2rem;
  flex: 1;
  text-align: center;
  vertical-align: middle;
  height: 80vh;
  border: 1.5px #0F0 solid;
  position: relative;
  float:left;
  width: 17vw;
}

/*누가 나 대신 CSS좀 짜줘요*/

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
