#root {
  font-family: sans-serif;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  position: relative;
}

.body{
  display: flex;
  flex-direction: row;
  left: 20px;
  top: 91px;
}